.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  color: white;
}

.upperFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 4.8rem;
  padding: 2.4rem;
}

.about {
  width: 33%;
}

.about h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.6rem;
  color: grey;
}

.newsletter {
  width: 33%;
}

.newsletter h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.newsletter p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: grey;
}

.newsletter input {
  padding: 8px 15px;
  border: none;
  outline: none;
}

.follow {
  width: 33%;
}

.follow h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.follow p {
  font-size: 1.6rem;
  color: grey;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-top: 1rem;
}

.socialIcons i {
  font-size: 2.4rem;
  color: grey;
}

.lowerFooter h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
